<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <title>{{ story.headline }}</title>
    <meta property="og:title" content="{% if story.summary.title %}{{ story.summary.title }}{% else %}{{ story.headline }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ story.summary.summary }}">
    <meta property="og:url" content="{{ url_for('display_story', story_id=story._id, _external=True) }}" />
    <meta property="og:image" content="{{ url_for('static', filename='nb3000.jpg', _external=True) }}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@UnfuckedNews">
    <meta name="twitter:title" content="{% if story.summary.title %}{{ story.summary.title | truncate(100) }}{% else %}{{ story.headline | truncate(100) }}{% endif %}">
    <meta name="twitter:description" content="{{ story.summary.summary | truncate(200) }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='nb3000.jpg', _external=True) }}">
  
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
  <body>
    <div class="container">
      <a href="/"><img src="/static/nb3000.png" width="314" height="75" /></a>
      <p>AI-Powered News for a Clearer Perspective</p>

      {% if story.summary.title %}
      <h2 class="headline">{{ story.summary.title }}</h2>
        <p class="alt-headline"><a href="{{ story.link }}" target="_blank">{{ story.headline }} ({{ story.source }})</a></p> 
      {% else %}
        <h2 class="headline"><a href="{{ story.link }}" target="_blank">{{ story.headline }} ({{ story.source }})</a></h2>
      {% endif %}

      <p class="category">
        <a href="/category/{{ story.summary.category }}"
          >{{ story.summary.category }}</a
        >
        / {{ story.updated }}
      </p>
        <button class="share-button" id="shareBtn">Share</button>
      <p>{{ importance }}</p>
      <p class="left-align">{{ story.summary.summary }}</p>
      <p class="left-align">
        {% for keyword in story.summary.keywords %}
        <a href="/keyword/{{ keyword }}"
          ><span class="keyword-bubble">{{ keyword }}</span></a
        >
        {% endfor %}
      </p>
      {% if similar_stories %}
      <h3>Similar stories:</h3>
      <ul>
        {% for similar_story in similar_stories %}
        <li><a href="/story/{{ similar_story._id }}">{{ similar_story['summary']['title'] }} ({{ similar_story['source'] }}) / {{ similar_story['updated'] }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <script>
      const shareButton = document.getElementById("shareBtn");
      shareButton.addEventListener("click", async () => {
        if (navigator.share) {
          try {
            await navigator.share({
              title: "{{ story.headline | truncate(60) }}",
              text: "{{ story.summary.summary | truncate(100) }}",
              url: window.location.href,
            });
            console.log("Content shared successfully");
          } catch (err) {
            console.error("Error sharing content:", err);
          }
        } else {
          alert("Sharing is not supported in this browser.");
        }
      });
    </script>
  </body>
</html>
